@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --heroYellow: #ffb444;
  --heroBlack: #010101;
  --heroGray: #232323;
}

body {
  color: var(--background);
  background: var(--heroBlack);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif; /* Fallbacks for safety */
}
